@media only screen and (min-width:992px) and (max-width:1365px) {

    body {
        width: 100%;
        height: 100%;
    }

    .icons {
        display: none;
    }

    .items {
        font-size: 12px;
    }

    nav.navbar {
        width: 100%;
        height: 100px;
    }

    li.tv {
        font-size: 35px;
        padding: 2%;
    }

    li.tvs {
        display: none;
    }

    .img-pic {
        width: 30%;
    }

    .para {
        color: white;
        font-size: 25px;
        margin: 0;
    }

    h1.para1 {
        width: 100%;
        font-size: 35px;
        margin: 0;
    }

    h1.hd {
        font-size: 30px;
        text-align: center;
    }

    .show {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .contant {
        font-size: 20px;
        color: #000;
    }

    .image {
        width: 45%;
    }

    .pic {
        text-align: center;
        width: 100%;
    }

    img.pic2 {
        width: 100%;
    }

    .show1 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .show2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .show3 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .show4 {
        flex-wrap: wrap;
        justify-content: center;
    }

    p.foot {
        font-size: 25px;

    }

    .btn {
        font-size: 25px;
        padding-right: 8%;
    }

    .footer {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    p.internet {
        font-size: 25px;
    }

    p.AppleTV {
        font-size: 25px;
    }

    p.cookie {
        font-size: 25px;
    }

    p.Support {
        font-size: 25px;
    }
}

@media only screen and (min-width:769px) and (max-width:991px) {
    body {
        width: 100%;
    }

    .items {
        font-size: 9px;
        color: white;
    }

    nav.navbar {
        width: 100%;
    }

    .item {
        margin: 0 0;
        font-size: 12px;
    }

    .navigation {
        width: 100%;
        display: flex;
        flex-direction: row;

    }

    .tv {
        font-size: 20px;
    }

    .tvs {
        height: 17px;
        font-size: 10px;
    }

    .img1 {
        height: 40%;
    }

    .img2 {
        height: 100%;
    }

    .img3 {
        height: 100%;
    }

    .img4 {
        height: 100%;
    }

    .img5 {
        height: 100%;
    }

    .pic1 {
        width: 100%;
    }

    p.foot {
        font-size: 18px;

    }

    .btn {
        font-size: 14px;
    }

    .footer {
        width: 90%;
    }

    p.internet {
        font-size: 18px;
    }

    p.AppleTV {
        font-size: 18px;
    }

    p.cookie {
        font-size: 18px;
    }

    p.Support {
        font-size: 18px;
    }


}

@media only screen and (min-width:576px) and (max-width:768px) {
    body {
        width: 100%;
    }

    nav.navbar {
        width: 100%;
    }

    .icons {
        display: none;
    }

    li.tv {
        font-size: 20px;
    }

    li.tvs {
        width: 13%;
        text-align: center;
        margin: 1%;
    }

    .pic1 {
        width: 100%;
    }

    .img1 {
        width: 100%;
        height: 35%;
        border-radius: 13px;
    }

    .img2 {
        width: 100%;
        height: 100%;
        border-radius: 13px;
    }

    .img3 {
        width: 100%;
        height: 100%;
        border-radius: 13px;
    }

    .img4 {
        width: 100%;
        height: 100%;
        border-radius: 13px;
    }

    .img5 {
        width: 100%;
        height: 100%;
        border-radius: 13px;
    }

    p.foot {
        font-size: 16px;

    }

    .btn {
        font-size: 14px;
    }

    .Footer-banner {
        width: 100%;
    }

    .footer {
        display: flex;
        justify-content: space-around;
        padding-left: 2%;
        width: 90%;
    }

    p.internet {
        font-size: 14px;
    }

    p.AppleTV {
        font-size: 14px;
    }

    p.cookie {
        font-size: 14px;
    }

    p.Support {
        font-size: 14px;
    }

}

@media only screen and (max-width:575px) {

    body {
        width: 100%;
        height: 100%;
    }

    nav.icons {
        display: none;
    }

    nav.navbar {
        width: 100%;
    }

    h1.para1 {
        width: 100%;
        font-size: 13px;
        text-align: center;
    }

    .pic {
        width: 100%;
        text-align: center;
    }

    .img-pic {
        width: 30%;
    }

    .para {
        font-size: 12px;
        margin: 0;
    }

    li.tv {
        font-size: 20px;
    }

    li.tvs {
        display: none;
    }

    h1.hd {
        font-size: 15px;
        text-align: center;
    }

    img.pic2 {
        width: 100%;
        height: 65vh;
    }

    .pic1 {
        width: 100%;
    }

    .showcard {
        width: 100%;
    }

    p.contant1 {
        font-size: 12px;

    }

    .contant {
        font-size: 15px;
        color: black;
        margin: 0;
    }

    h4.contant1 {
        font-size: 15px;
        margin: 0;
    }

    .image {
        text-align: center;
    }

    .img1 {
        width: 60%;
        height: 50%;
        border-radius: 13px;
    }

    .img2 {
        width: 60%;
        height: 100%;
        border-radius: 13px;
    }

    .img3 {
        width: 60%;
        height: 100%;
        border-radius: 13px;
    }

    .img4 {
        width: 60%;
        height: 100%;
        border-radius: 13px;
    }

    .img5 {
        width: 60%;
        height: 100%;
        border-radius: 13px;
    }

    p.foot {
        font-size: 13px;

    }

    .btn {
        display: none;
    }

    .Footer-banner {
        width: 100%;
    }

    .footer {
        display: flex;
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    p.internet {
        font-size: 15px;
    }

    p.AppleTV {
        font-size: 15px;
    }

    p.cookie {
        font-size: 15px;
    }

    p.Support {
        font-size: 15px;
    }

    .show {
        flex-wrap: wrap;
    }

    .show1 {
        flex-wrap: wrap;
    }


    .show2 {
        flex-wrap: wrap;
    }

    .show3 {
        flex-wrap: wrap;
    }

    .show4 {
        flex-wrap: wrap;
    }
}